<link rel="stylesheet" href="../assets/css/projectView.css">

<div class="container scrollable">
    <h1 class="project-heading">Project Details</h1>

    <h2 class="project-name">
        <%= project.name %>
    </h2>
    <p class="project-info"><strong>Author:</strong>
        <%= project.author %>
    </p>
    <p class="project-info"><strong>Description:</strong>
        <%= project.description %>
    </p>

    <h3 class="section-heading">Issues:</h3>
    <ul class="issue-list">
        <% project.issues.forEach(function(issue) { %>
            <li class="issue-item">
                <strong class="issue-title">
                    <%= issue.title %>
                </strong>
                <br>
                <strong class="issue-author">
                    <%= issue.author %>
                </strong>
                <p class="issue-description">
                    <%= issue.description %>
                </p>
            </li>
            <% }); %>
    </ul>

    <div class="button-group">
        <form action="/projects/<%= project._id %>/delete" method="POST" class="delete-form">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <a href="/projects/<%= project._id %>/issues/new" class="btn btn-primary">Create Issue</a>
        <a href="/" class="btn btn-primary">Back</a>
    </div>
</div>